<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="login" method="post">
      <table>
        <tr>
          <th>ID</th>
          <td>
            <input type="username" name="username" placeholder="Username" />
          </td>
        </tr>
        <tr>
          <th>Password</th>
          <td>
            <input type="password" name="password" placeholder="password" />
          </td>
        </tr>
      </table>
      <input type="submit" value="login" />
    </form>
  </body>
</html>
