<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
   <main>
     <form action="login" method="POST">
       <blockquote>
      <div class="column">
        <h2>UserID:</h2>
        <input type="username" name="username" />
      </div>
      <div class="column">
        <h2>Password:</h2>
        <input type="password" name="password" />
      </div>
    </blockquote>

      <input type="submit" name="login_btn" value="Login">
    </form>
    </main>
</body>
</html>
